#cookiebar {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding:  1.25rem 0;
  background-color: #757575;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: .75rem;
  display: none;
  z-index: 9999;
}

#cookiebar a {
  color: #fff;
  text-decoration: underline;
}

#cookiebar #hidebar {
  color: black;
  text-decoration: none;
  font-size: .625rem;
}

@media screen and (min-width: 40em) {
  #cookiebar {
    font-size: 1rem;
  }
  #hidebar {
    font-size: .75rem;
  }
}
